@tailwind base;
@tailwind components;
@tailwind utilities;


.bgimg-1 {
  background-image: url('/gallatin.jpg');
  max-height: 500px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.markLabel {
  cursor: pointer;
  /* This will change the cursor to hand when hovering over a mark */
  padding: 5px;
  /* Add some padding */
  border-radius: 4px;
  /* Round the corners a bit */
  transition: background 0.3s;
  /* Transition the background color smoothly */
}
.markLabel:hover {
  background: rgba(0, 0, 0, 0.1);
  /* Change the background color when hovered */
}

html,
body {
  /* max-width: 100vw; */
  
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
body {
  background: radial-gradient(circle at center, seashell, rgba(224, 154, 121, 0.705));
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
