@tailwind base;
@tailwind components;
@tailwind utilities;


.bgimg-1 {
  background-image: url('/gallatin.jpg');
  max-height: 500px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
body{
  background-color: seashell;
  
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
